<!DOCTYPE html>
<html lang="es"
    xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
</head>
<body>

	<div layout:fragment="form">
		<br>
		<form action="" method="post" th:object="${batalla}"
			enctype="multipart/form-data">
			<div class="mb-3">
				<label for="titulo" class="form-label">Titulo : </label> <input
					type="text" id="titulo" placeholder="Digite el titulo"
					class="form-control" th:field="*{titulo}">
				<div class="invalid-feedback" th:if="${#fields.hasErrors('titulo')}"
					th:errors="*{titulo}"></div>
			</div>

			<div class="mb-3">
				<label for="descripcion" class="form-label">Descripcion : </label>
				<textarea id="descripcion" placeholder="Digite la descripcion"
					class="form-control" th:field="*{descripcion}"></textarea>
				<div class="invalid-feedback"
					th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
			</div>

			<div class="mb-3">
				<label for="fechaBatalla" class="form-label">Fecha de
					la batalla : </label> <input type="date" id="fechaBatalla"
					placeholder="Digite la fecha de la batalla" class="form-control"
					th:field="*{fechaBatalla}">
				<div class="invalid-feedback"
					th:if="${#fields.hasErrors('fechaBatalla')}"
					th:errors="*{fechaBatalla}"></div>
			</div>
			<div class="mb-3">
				<label for="youtubeTrailerId" class="form-label">Youtube
					Trailer ID : </label> <input type="text" id="youtubeTrailerId"
					placeholder="Digite el Youtube Trailer ID" class="form-control"
					th:field="*{youtubeTrailerId}">
				<div class="invalid-feedback"
					th:if="${#fields.hasErrors('youtubeTrailerId')}"
					th:errors="*{youtubeTrailerId}"></div>
			</div>
			<div class="mb-3">
				<label for="portada" class="form-label">Portada : </label> <input
					type="file" name="portada" id="portad" class="form-control"
					th:field="*{portada}">
				<div class="invalid-feedback"
					th:if="${#fields.hasErrors('portada')}" th:errors="*{portada}"></div>
			</div>
			<div class="mb-3">
				<label for="rondas" class="form-label">Ronda : </label> <select
					id="rondas" class="form-control" th:field="*{rondas}" multiple>
					<option th:each="ronda : ${rondas}" th:value="${ronda.id}"
						th:text="${ronda.titulo}"></option>
				</select>
				<div class="invalid-feedback"
					th:if="${#fields.hasErrors('rondas')}" th:errors="*{rondas}"></div>
			</div>

			<div class="text-end">
				<button type="submit" class="btn btn-primary">Guardar</button>
			</div>
		</form>
	</div>
</body>
</html>