<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymelaf/layout"
				layout:decorate="~{master.html}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Votaciones de batallas</title>
</head>

<body>

	<div layout:fragment="content">
		<h1 class="mt-4 mb-4 red-bull-red">Votaciones de batallas</h1>

		<h2 class="mb-4 red-bull-blue">Batallas de Red Bull</h2>

		<p>Las batallas de Red Bull, también conocidas como Red Bull Batalla de los Gallos, son competencias de
			freestyle rap en español, organizadas por la marca de bebidas energéticas Red Bull. Estas competencias
			comenzaron en 2005 y se han convertido en uno de los eventos más importantes y populares en la escena del
			hip-hop en habla hispana.</p>

		<p>Los participantes compiten en duelos individuales, improvisando versos y rimas en función de palabras o temas
			propuestos por el presentador o el jurado. Las batallas se llevan a cabo en varias rondas, donde los
			competidores deben demostrar sus habilidades líricas, fluidez, capacidad de improvisación y creatividad.</p>

		<h3 class="mb-3 red-bull-red">Participantes destacados</h3>

		<ul>
			<li>Arkano</li>
			<li>Aczino</li>
			<li>Chuty</li>
			<li>Wos</li>
			<li>Skone</li>
			<li>Dtoke</li>
		</ul>

		<h3 class="mb-3 red-bull-red">Eventos relevantes</h3>

		<ul>
			<li>Red Bull Batalla de los Gallos Final Internacional 2020</li>
			<li>Red Bull Batalla de los Gallos Final Nacional España 2019</li>
			<li>Red Bull Batalla de los Gallos Final Nacional Argentina 2018</li>
		</ul>

		<br>

		<h4 class="text-danger mt-5">Mas vistos</h4>
	
	<div class="row">
	    <div class="col-md-3 my-5" th:each="batalla : ${batallasMasVistas}" th:object="${batalla}">
	       <a th:href="@{/batallas/{id}(id=*{id})}" class="card shadow-lg" style="text-decoration:none;">
	       <img th:src="@{/assets/{filename}(filename=*{rutaPortada})}" th:alt="*{titulo}" class="card-img-top">
	       <div class="card-body">
	          <h2 class="card-title fs-6" th:text="*{titulo}"></h2>
	          <p th:text="*{#temporals.format(fechaBatalla,'dd/MM/yyyy')}" class="text-muted small"></p>
	       </div>
	       </a>
	    </div>
	</div>
	</div>
	
	<div layout:fragment="scripts">
		<script>
			function eliminarBatalla(id){
				if(!confirm('¿Estás seguro de eliminar esta batalla?')) {
					return;
				}
				$('#eliminarBatallaForm' + id).submit();
			}
		</script>
	</div>
	
</body>

</html>