<!DOCTYPE html>
<head th:insert="librerias::librerias">

<script>
    $('#modal-delete').on('show.bs.modal', function (e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        $('#modal-deleteHiddenId').val($(this).find('.btn-ok').attr('href'));
    });
</script>
</head>
<body>

<div class="container">

<header>

<div th:insert="top::top"></div>

</header>

<h1>Batallas en Spring </h1>

<!-- Imprimir tabla batallas -->

<table class="table table-hover">
<thead class = "table-dark bg-info text-white">
<tr>
<th>Id </th>
<th>Nombre Juez</th>
</tr>
</thead>
<tbody>

	<tr th:if="${listabatallas.empty}">
		<td colspan="2"> No hay batallas</td>
	</tr>
	<tr th:each="batalla:${listabatallas}">
	<td>
		<a th:href="@{/batallas/{id}(id=${batalla.id})}" class="btn btn-primary btn-sm">
			<span th:text="${batalla.id}"> </span>
		</a>
	</td>
	<td>
		<span th:text="${batalla.juez.getNombre()}"> </span>
	</td>
		
	</tr>
</tbody>
</table>

<div class="p-5">
<button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#crearMensaje">
+</button>
</div>

<!-- create modal -->
	
	<div class="modal fade" th:id="crearMensaje" tabindex="1" role="dialog">
	<div class="modal-dialog" role="document">
	<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title" id="exampleModelLabel">Crear Batalla</h4>
		<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">x</span>
		</button>
	</div>
	<div class="modal-body">
	<p class="error-text">Crear batalla nueva: </p>
	
	 <!--formulario nombre a editar-->
	<form action="#" th:action="@{/batallas/add/}" th:object="${batallaNueva}" method="post">
	 
	 <div class="form-row">
	 
	 <div class="form-group mt-4">
	 <label for="texto">Seleccionar Juez</label>
	 
	 <select th:field="*{juez.id}" class="form-control" id="exampleFormControlSelect1">
	 <option th:each="juez:${listaJueces}" th:value="${juez.id}" th:text="${juez.nombre}" value="">Seleccionar jueces
	 </option>
	 
	 </select>
	 
	 
	 </div>
	 
	 </div>
	 
	 </div>
	 <div class="modal-footer">
	 <button class="btn btn-secondary btn-sm" data-dismiss="modal" aria-hidden="true">Cancelar</button>
	 <input type="submit" value="Crear Batalla" class="btn btn-primary float-right"/>
	 </div>
	
	</form>
	
	</div>
	</div>
	</div>
	
	<!-- fin create modal -->

</div>

</div>
</body>